<button class="mb-2" mat-raised-button color="primary" (click)="openDialog(dialogTemplate)">New Shipment</button>

<ng-template #confirmationDialog>
  <div class="confirmation-container">
    <p>Are you sure you want to delete this item?</p>
    <button mat-raised-button color="accent" (click)="cancelDelete()">Cancel</button>
    <button mat-raised-button color="warn" (click)="confirmDelete()">Delete</button>
  </div>
</ng-template>

<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Add Shipment</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Aramix Id</mat-label>
      <input matInput [(ngModel)]="orderData.aramixId"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Internal Id</mat-label>
      <input matInput type="number" [(ngModel)]="orderData.internalId"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput [(ngModel)]="orderData.notes"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onAdd()">{{ orderToEditId === null ? 'Add' : 'Edit' }}</button>
  </mat-dialog-actions>
</ng-template>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let row of shipments">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img class="image-preview" [src]="row.image  ?  row.image : defaultImage"/>
        <div>
          <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="uploadFile($event, row)"
                 accept=".png, .JPEG"/>
          <button class="ml-4 mt-1 mb-1" mat-flat-button color="primary" (click)="csvInput.click()">Upload</button>
        </div>

      </mat-panel-title>
      <mat-panel-description>
        <span class="mr-5">Aramix ID: {{ row.aramixId }}</span>
        <span class="mr-5">Internal Id: {{ row.internalId }}</span>
        <span class="mr-5">#Items: {{ row.totalOrderQuantity }}</span>
        <span class="mr-5">Total Price: {{ row.totalShipmentPrice }}</span>
        <mat-select (valueChange)="changeOrderStatus($event, row)" [(value)]="row.status">
          <mat-option value="new">New</mat-option>
          <mat-option value="DHL">DHL</mat-option>
          <mat-option value="Aramix">Aramix</mat-option>
          <mat-option value="Libya">Libya</mat-option>
        </mat-select>
        <span class="mr-5">Notes: {{ row.notes }}</span>

        <button mat-raised-button color="primary" (click)="openEditDialog(dialogTemplate,  row)">
          Edit
        </button>
        <button class="ml-1" mat-raised-button color="warn" (click)="openDeleteConfirmation($event, row)">
          Delete
        </button>


      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-to-order-table *ngIf="row.orders.length" [docsIds]="row.orders"></app-to-order-table>
    <div class="mt-5" *ngIf="!row.orders.length"> No orders are added!</div>
  </mat-expansion-panel>
</mat-accordion>


