<!-- Delete confirmation -->
<ng-template #confirmationDialog>
  <div class="confirmation-container">
    <p>Are you sure you want to delete this item?</p>
    <button mat-raised-button color="accent" (click)="cancelDelete()">Cancel</button>
    <button mat-raised-button color="warn" (click)="confirmDelete()">Delete</button>
  </div>
</ng-template>

<!-- Lock confirmation -->
<ng-template #confirmationLockDialog>
  <div class="confirmation-container">
    <p>Are you sure you want to lock the order?</p>
    <button mat-raised-button color="accent" (click)="cancelDelete()">Cancel</button>
    <button mat-raised-button color="warn" (click)="confirmLock()">Lock</button>
  </div>
</ng-template>

<!--Add order dialog-->
<ng-template #dialogTAddProductToInvoice>
  <h2 mat-dialog-title>Add product to invoice</h2>
  <mat-dialog-content>

    <mat-selection-list #shoes>
      <mat-list-option *ngFor="let shoe of productCanBeAdded" [value]="shoe">

        <div>
          <img class="mr-2 mt-2" height="50rem" width="50rem" [src]="shoe.image  ?  shoe.image : defaultImage" />

          <span style="font-size: large;">{{ shoe.name }}</span>

          {{shoe.variant}}

          <span style="font-size: small;"> {{shoe.barcode}}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="addProductsToInvoice(shoes.selectedOptions.selected)"> Add
      {{shoes.selectedOptions.selected.length}}</button>
  </mat-dialog-actions>
</ng-template>


<!--Add order dialog-->
<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Add Order</h2>
  <mat-dialog-content>
    <div class="d-flex">
      <div class="mr-2">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="invoiceData.name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput [(ngModel)]="invoiceData.address" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="invoiceData.phoneNumber" />
      </mat-form-field>
    </div>

    <mat-form-field style="width: 20rem" appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput [(ngModel)]="invoiceData.notes"></textarea>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="editOrder()"> Edit</button>
  </mat-dialog-actions>
</ng-template>

<button class="mb-2" mat-raised-button *ngIf="!showTable" (click)="displayTable()">Back</button>

<div *ngIf="!showTable"></div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input [disabled]='!showTable' matInput (keyup)="applyFilter($event)" placeholder="Ex. perfume" #input>
</mat-form-field>

<button *ngIf="!showTable" class="mb-1" mat-raised-button color='primary'
  (click)="openAddToInvoice(dialogTAddProductToInvoice)">
  Add Product
</button>

<div class="mat-elevation-z8" *ngIf="showTable">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon aria-hidden="false" [class]="row.status + '-circel'" style="  padding-top: 0.25rem;"
          aria-label="Example home icon" fontIcon="person"></mat-icon>

        {{ row.name }}

      </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
      <td mat-cell *matCellDef="let row"> {{ row.city }} - {{ row.address }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</th>
      <td mat-cell *matCellDef="let row"> {{ row.phoneNumber }}</td>
    </ng-container>
    <!-- Address Column -->
    <ng-container matColumnDef="createdTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Time</th>
      <td mat-cell *matCellDef="let row"> {{row.createdTime | timeAgo}}
        <div>{{row.createdTime | date:'short'}}</div>
      </td>
    </ng-container>


    <!-- Notes Column -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes</th>
      <td mat-cell *matCellDef="let row"> {{ row.notes }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field style="width: 9rem" appearance="outline" class="status-dropdown mt-1">
          <mat-select (valueChange)="changeInvoiceStatus($event, row)" [(value)]="row.status">
            <mat-option value="draft">Draft</mat-option>
            <mat-option value="ordered">Ordered</mat-option>
            <mat-option value="delivered">Delivered</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20rem"> Actions</th>
      <td mat-cell *matCellDef="let row">
        <button [disabled]="row.status !== 'delivered' || row.locked" mat-raised-button
          (click)="openLockConfirmation($event,row)" color="accent">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="lock_outline"></mat-icon>
        </button>
        <button class="ml-1" mat-raised-button (click)="hideTable(row)" color="accent">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="remove_red_eye"></mat-icon>
          {{row.orders.length}}
        </button>
        <button class="ml-1" mat-raised-button color='primary' (click)="openEditDialog(dialogTemplate,  row)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </button>
        <button class="ml-1" mat-raised-button color="warn" (click)="openDeleteConfirmation($event, row)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[100]" aria-label="Select page of users"></mat-paginator>
</div>


<mat-card *ngIf="!showTable">
  <mat-card-content>
    <div style="font-size:large; color: white;">
      <span class='mr-5'>{{invoiceToView.name}}</span>
      <span class='mr-5'>{{invoiceToView.address}}</span>
      <span class='mr-5'>{{invoiceToView.phoneNumber}}</span>
      <span style="font-size:large; float: right;" class='mr-5'>{{invoiceToView.createdTime | timeAgo}}</span>
    </div>
  </mat-card-content>
</mat-card>

<!-- The starting of the orders table -->
<div class="mat-elevation-z8" *ngIf="!showTable">

  <table mat-table [dataSource]="ordersTable" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Image</th>
      <td mat-cell *matCellDef="let row">
        <img class="image-preview" [src]="row.image  ?  row.image : defaultImage" />
      </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity</th>
      <td mat-cell *matCellDef="let row"> {{ row.quantity }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell style="width: 15rem" *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let row">
        <div style="font-size: large; ">
          {{ row.brand }}
        </div>
        <div>{{ row.name | slice:0:100 }}
          <span *ngIf="row.name.length >= 100">...</span>
        </div>
        <div><b> <small>{{ row.barcode }}</small></b></div>
      </td>
    </ng-container>

    <!-- Variant Column -->
    <ng-container matColumnDef="variant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Variant</th>
      <td mat-cell *matCellDef="let row"> {{ row.variant }}</td>
    </ng-container>

    <!-- Buy Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10rem"> Price</th>
      <td mat-cell *matCellDef="let row">
        <div style="color: #758bff;"> {{ (row.sellPrice * (invoiceToView.conversionRate === undefined ? 6.5:invoiceToView.conversionRate )) | roundUpToFive }} L.D </div>
      </td>
    </ng-container>

    <!-- Notes Column -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes</th>
      <td mat-cell *matCellDef="let row"> {{ row.notes }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 17rem"> Actions</th>
      <td mat-cell *matCellDef="let row">
        <button class="ml-1" mat-raised-button color="warn" (click)="openDeleteOrderConfirmation($event, row)">
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="ordersDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ordersDisplayedColumns;"></tr>
  </table>
</div>
<mat-card *ngIf="!showTable">
  <mat-card-content>
    <div style="color: white;">
      <span style="font-size:large; float: right;" class='mr-5'>Total Items: {{totalProducts}} </span>
      <span style="font-weight: bold; font-size:large; float: right;" class='mr-5'>Total Price: {{totlaPriceToPay}}
        L.D</span>
    </div>
  </mat-card-content>
</mat-card>