<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Pixie Dust</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="products" class="nav-link">All Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="to-orders" class="nav-link">To Order</a>
      </li>
      <li class="nav-item">
        <a routerLink="shipments" class="nav-link">Shipments</a>
      </li>
      <mat-form-field class="example-full-width">
        <input matInput min="0" *ngIf="config" type="number" (input)="updateConfig()" [(ngModel)]="config.conversionPrice"/>
      </mat-form-field>
  
    </div>
  </nav>
  
  <div class="ml-3 mr-3 mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
