<button mat-raised-button color="primary" (click)="openDialog(dialogTemplate)">New Order</button>

<ng-template #confirmationDialog>
  <div class="confirmation-container">
    <p>Are you sure you want to delete this item?</p>
    <button mat-raised-button color="accent" (click)="cancelDelete()">Cancel</button>
    <button mat-raised-button color="warn" (click)="confirmDelete()">Delete</button>
  </div>
</ng-template>

<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Add Order</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="orderToEdit === null ? orderData.name : orderToEdit.name"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" [(ngModel)]="orderToEdit === null ? orderData.price : orderToEdit.price"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="orderToEdit === null ?  orderData.quantity : orderToEdit.quantity"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Link</mat-label>
      <input matInput [(ngModel)]="orderToEdit === null ?  orderData.link : orderToEdit.link"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Variant</mat-label>
      <input matInput [(ngModel)]="orderToEdit === null ?  orderData.variant: orderToEdit.variant"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput [(ngModel)]="orderToEdit === null ?  orderData.notes : orderToEdit.notes"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onAdd()">{{ orderToEdit === null ?'Add' : 'Edit' }}</button>
  </mat-dialog-actions>
</ng-template>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. perfume" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let row"> {{ row.id }}</td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity</th>
      <td mat-cell *matCellDef="let row"> {{ row.quantity }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let row"> {{ row.name }}</td>
    </ng-container>

    <!-- Link Column -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Link</th>
      <td mat-cell *matCellDef="let row"> {{ row.link }}</td>
    </ng-container>

    <!-- Variant Column -->
    <ng-container matColumnDef="variant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Variant</th>
      <td mat-cell *matCellDef="let row"> {{ row.variant }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
      <td mat-cell *matCellDef="let row"> {{ row.price }}</td>
    </ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="openEditDialog(dialogTemplate,  row)">
         Edit
        </button>
        <button mat-raised-button color="warn" (click)="openDeleteConfirmation($event, row)">
         Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

